.metadata/.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1004716384.index
.metadata/.plugins/org.eclipse.jdt.core/1583927216.index
.metadata/.plugins/org.eclipse.jdt.core/1847969816.index
.metadata/.plugins/org.eclipse.jdt.core/188619105.index
.metadata/.plugins/org.eclipse.jdt.core/1904741536.index
.metadata/.plugins/org.eclipse.jdt.core/2017505986.index
.metadata/.plugins/org.eclipse.jdt.core/2167310551.index
.metadata/.plugins/org.eclipse.jdt.core/2312443017.index
.metadata/.plugins/org.eclipse.jdt.core/2831536327.index
.metadata/.plugins/org.eclipse.jdt.core/2927524569.index
.metadata/.plugins/org.eclipse.jdt.core/3099217274.index
.metadata/.plugins/org.eclipse.jdt.core/3119455041.index
.metadata/.plugins/org.eclipse.jdt.core/3172068124.index
.metadata/.plugins/org.eclipse.jdt.core/3256285438.index
.metadata/.plugins/org.eclipse.jdt.core/3681335767.index
.metadata/.plugins/org.eclipse.jdt.core/375126478.index
.metadata/.plugins/org.eclipse.jdt.core/3878457715.index
.metadata/.plugins/org.eclipse.jdt.core/4166838873.index
.metadata/.plugins/org.eclipse.jdt.core/486699731.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/
.recommenders/
RemoteSystemsTempFiles/
source/
